/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 апр. 2020 г., 13:07:25
    Author     : valera261104
*/

.logo {
    display:block;
}

.ac {
    text-align:center;
}

body {

    height:100vh;
    margin:0;
    padding:0;
    background-color:silver;
    font-size:small;
  
}

.footer .data{
    border-top:1px solid black;
    position:relative;
    bottom:0%;
    width:100%;
    padding:10px;
}