<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <section class="header">
            <a href="/"><img src="{{ asset('images/logo.jpg') }}" width="100"/></a>
        </section>
        <section class="body">
            
        </section>
        <section class="footer">
            
        </section>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
